.background {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    opacity: 0.5;
}

.lines {
    width: 5%;
    height: 80px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.line1 {
    background-color: #b1e0ad;
    animation: animate1 1.9s linear infinite;
}

.line2 {
    background-color: #b1e0ad;
    animation: animate2 2.1s linear infinite;
}

.line3 {
    background-color: #b1e0ad;
    animation: animate3 1.7s linear infinite;
}

.line4 {
    background-color: #b1e0ad;
    animation: animate4 2.5s linear infinite;
}

.line5 {
    background-color: #b1e0ad;
    animation: animate5 2.3s linear infinite;
}

.line6 {
    background-color: #b1e0ad;
    animation: animate6 1.8s linear infinite;
}

.line7 {
    background-color: #b1e0ad;
    animation: animate7 2.8s linear infinite;
}

.line8 {
    background-color: #b1e0ad;
    animation: animate8 2.7s linear infinite;
}

.line9 {
    background-color: #b1e0ad;
    animation: animate8 2.3s linear infinite;
}

.line10 {
    background-color: #b1e0ad;
    animation: animate9 1.5s linear infinite;
}

.line11 {
    background-color: #b1e0ad;
    animation: animate10 1.9s linear infinite;
}

.line12 {
    background-color: #b1e0ad;
    animation: animate9 1.4s linear infinite;
}

.line13 {
    background-color: #b1e0ad;
    animation: animate8 2.6s linear infinite;
}

.line14 {
    background-color: #b1e0ad;
    animation: animate7 2.2s linear infinite;
}

.line15 {
    background-color: #b1e0ad;
    animation: animate6 2.0s linear infinite;
}

.line16 {
    background-color: #b1e0ad;
    animation: animate4 1.9s linear infinite;
}

.line17 {
    background-color: #b1e0ad;
    animation: animate5 1.3s linear infinite;
}

.line18 {
    background-color: #b1e0ad;
    animation: animate3 2.9s linear infinite;
}

.line19 {
    background-color: #b1e0ad;
    animation: animate1 1.8s linear infinite;
}

.line20 {
    background-color: #b1e0ad;
    animation: animate2 2.1s linear infinite;
}

@keyframes animate1 {
    50% {
        background-color: #2eb2c9;
        opacity: 0.5;
        height: 500px;
    }
}

@keyframes animate2 {
    50% {
        background-color: #2eb2c9;
        opacity: 0.5;
        height: 350px;
    }
}

@keyframes animate3 {
    50% {
        background-color: #2eb2c9;
        opacity: 0.6;
        height: 250px;
    }
}

@keyframes animate4 {
    50% {
        background-color: #2eb2c9;
        opacity: 0.5;
        height: 400px;
    }
}

@keyframes animate5 {
    50% {
        background-color: #2eb2c9;
        opacity: 0.7;
        height: 600px;
    }
}

@keyframes animate6 {
    50% {
        background-color: #2eb2c9;
        opacity: 0.5;
        height: 550px;
    }
}

@keyframes animate7 {
    50% {
        background-color: #2eb2c9;
        opacity: 0.6;
        height: 280px;
    }
}

@keyframes animate8 {
    50% {
        background-color: #2eb2c9;
        opacity: 0.9;
        height: 500px;
    }
}

@keyframes animate9 {
    50% {
        background-color: #2eb2c9;
        opacity: 0.8;
        height: 200px;
    }
}

@keyframes animate10 {
    50% {
        background-color: #2eb2c9;
        opacity: 0.7;
        height: 300px;
    }
}

.title {
    padding-left: 2vw;
    height: 10vh;
    width: 100vw;
    position: relative;
    background-color: #812a8b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imageContainer {
    display: flex;
    align-items: center;
    width: 100vw;
    position: absolute;
    z-index: 8;
}

.titleImage {
    max-height: 10vh;
    margin-right: 1vw;
}

.titleSubContainer {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
}

.subContainer {
    height: 88vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #a354b0;
    position: relative;
}

.carousel {
    width: 40%;
    position: relative;
    align-items: stretch;
    justify-content: center;
    display: flex;
}

.footer {
    height: 5vh;
    width: 100vw;
    background-color: black;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
    align-items: center;
}

.controls {
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sheetMusic {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customButton {
    width: 75%;
    border-radius: 4vw;
    height: 8vh;
    font-family: 'Montserrat';
    font-size: 4vh;
    font-weight: 700;
    margin: 3vh;
    position: relative;
    z-index: 8;
    color: black
}

.cardImage {
    max-width: 15vw;
}

#success {
    background-color: greenyellow;
}

#error {
    background-color: red;
}

#neutral {
    background-color: lightseagreen;
}

#sheet {
    width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footerText {
    color: white;
    font-family: 'Montserrat';
    font-size: 1vw;
    font-weight: lighter;
}

.titleText {
    font-size: 3vw;
    font-weight: lighter;
    font-family: 'Montserrat', 'sans-serif';
    color: white;
    vertical-align: center;
}

body {
    background: radial-gradient(ellipse at bottom left, #000, #333);
    font-family: 'Oswald';
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.container {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    justify-content: center;
    width: 80%;
    align-items: center;
}

.item {
    cursor: grab;
    height: 80%;
    padding: 60px;
    position: absolute;
    touch-action: none;
    transition: transform .5s;
    max-width: 30vw;
    width: 80%;
}

.sliding .item {
    transition: none;
}

.card {
    align-items: center;
    background: #a839b0;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 7vh;
    height: 100%;
    font-family: 'Montserrat';
    justify-content: space-around;
    padding: 20px;
    position: relative;
    pointer-events: none;
    transition: box-shadow .3s;
    width: 100%;
}

.item:last-child .card:before,
.item:last-child .card:after {
    content: '';
    display: block;
    height: 7px;
    position: absolute;
}

.item:last-child .card:before {
    background: #553458;
    bottom: -7px;
    left: 4%;
    width: 92%;
}

.item:last-child .card:after {
    background: #553458;
    bottom: -14px;
    left: 7%;
    width: 86%;
}

.active {
    z-index: 2 !important;
}

.next {
    z-index: 1 !important;
}

.active .card {
    box-shadow: 0 0 10px #553458;
}

.indicator {
    animation: move 1s infinite ease-in-out;
    bottom: 20px;
    color: #ccc;
    font-size: 5vh;
    left: 20px;
    position: absolute;
    z-index: 10;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20%);
    }
}

canvas {
    position: absolute;
    z-index: 1;
}


/* ---- particles.js container ---- */