.background {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    padding-left: 2vw;
    height: 10vh;
    width: 100vw;
    position: relative;
    background-color: #812a8b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imageContainer {
    display: flex;
    align-items: center;
    width: 100vw;
    position: absolute;
    z-index: 8;
}

.titleImage {
    max-height: 10vh;
    margin-right: 1vw;
}

.titleSubContainer {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
}

.subContainer {
    height: 88vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #a354b0;
    position: relative;
}

.carousel {
    width: 40%;
    position: relative;
    align-items: stretch;
    justify-content: center;
    display: flex;
}

.footer {
    height: 5vh;
    width: 100vw;
    background-color: black;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
    align-items: center;
}

.controls {
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sheetMusic {
    width: 40%;
}

.customButton {
    width: 75%;
    border-radius: 4vw;
    height: 8vh;
    font-family: 'Montserrat';
    font-size: 4vh;
    font-weight: 700;
    margin: 3vh;
    position: relative;
    z-index: 8;
    color: black
}

.cardImage {
    max-width: 15vw;
}

#success {
    background-color: greenyellow;
}

#error {
    background-color: red;
}

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footerText {
    color: white;
    font-family: 'Montserrat';
    font-size: 1vw;
    font-weight: lighter;
}

.titleText {
    font-size: 3vw;
    font-weight: lighter;
    font-family: 'Montserrat', 'sans-serif';
    color: white;
    vertical-align: center;
}

body {
    background: radial-gradient(ellipse at bottom left, #000, #333);
    font-family: 'Oswald';
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.container {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    justify-content: center;
    width: 80%;
    align-items: center;
}

.item {
    cursor: grab;
    height: 80%;
    padding: 60px;
    position: absolute;
    touch-action: none;
    transition: transform .5s;
    max-width: 30vw;
    width: 80%;
}

.sliding .item {
    transition: none;
}

.card {
    align-items: center;
    background: #a839b0;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 7vh;
    height: 100%;
    font-family: 'Montserrat';
    justify-content: space-around;
    padding: 20px;
    position: relative;
    pointer-events: none;
    transition: box-shadow .3s;
    width: 100%;
}

.item:last-child .card:before,
.item:last-child .card:after {
    content: '';
    display: block;
    height: 7px;
    position: absolute;
}

.item:last-child .card:before {
    background: #553458;
    bottom: -7px;
    left: 4%;
    width: 92%;
}

.item:last-child .card:after {
    background: #553458;
    bottom: -14px;
    left: 7%;
    width: 86%;
}

.active {
    z-index: 2 !important;
}

.next {
    z-index: 1 !important;
}

.active .card {
    box-shadow: 0 0 10px #553458;
}

.indicator {
    animation: move 1s infinite ease-in-out;
    bottom: 20px;
    color: #ccc;
    font-size: 5vh;
    left: 20px;
    position: absolute;
    z-index: 10;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20%);
    }
}

canvas {
    position: absolute;
    z-index: 1;
}


/* ---- particles.js container ---- */